.blog {
  margin: 20px 0 20px 0;

  &__posts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
  }

  &__post {
    display: flex;
    flex-direction: column;

    &_hidden {
      display: none;
    }
  }

  &__new-post {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;

    &_show {
      display: flex;
    }

    &-title {
      h4 {
        font-size: 1.5rem;
      }
    }

    &-form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 10px;
      width: 100%;
    }

    &-input {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
    }

    &-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }

  &__error {
    color: #cb1414;
    font-weight: bold;
    font-size: 0.8em;
  }
}
