{% extends "base.html.twig" %}

{% block body %}

    <h2>Tilfedig kattefakta</h2>

    <ul>
        {% for fact in facts %}
            <li>{{ fact }}</li>
        {% endfor %}
    </ul>

{% endblock %}