<nav>
    <div class="collapsed-navigation">
        <div class="collapsed-navigation__content">
            <div class="collapsed-navigation__close">
                <i class="bi bi-x-circle"></i>
            </div>
            <div class="collapsed-navigation__menu-items">
                <a href="/home" class="collapsed-navigation__item">{% trans %}home.title{% endtrans %}</a>
                <a href="/blog" class="collapsed-navigation__item">{% trans %}blog.title{% endtrans %}</a>
                <a href="/forum" class="collapsed-navigation__item">{% trans %}forum.title{% endtrans %}</a>
            </div>
        </div>
    </div>
    <div class="main-navigation">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                </div>
            </div>
        </div>
        <div class="container navigation-wrapper">
            <div class="row">
                <div class="col-10 col-md-4">
                    <div class="top-logo"></div>
                </div>
                <div class="col-2 col-md-8">
                    <div class="navigation">
                        <a href="/home" class="navigation__item">{% trans %}home.title{% endtrans %}</a>
                        <a href="/blog" class="navigation__item">{% trans %}blog.title{% endtrans %}</a>
                        <a href="/forum" class="navigation__item">{% trans %}forum.title{% endtrans %}</a>
                    </div>
                    <div class="navigation-wrapper__bars">
                        <i class="bi bi-list"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
